* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, rgb(117, 114, 114) 0%, rgba(51, 51, 51, 1) 100%);
    height: 8rem;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgb(37, 35, 35) 0%, rgb(31, 30, 30) 100%);
}

main {
    height: 65rem;

    h2 {
        text-align: center;
        color: red;
        text-decoration: underline red;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 1fr 1fr 1fr */
        gap: 2rem;
        padding: 2rem;
        margin: 0 auto;
        max-width: 1000px;

        .grid-item {
            color: whitesmoke;
            padding: 5rem;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 0.75rem;
            transition: transform 0.3s ease;
            /* suaviza animacion transform */
            border: 0.25rem solid #757272
        }

        .grid-item:hover {
            transform: scale(1.1);
        }

        .item1 {
            background-image: url(/assets/MesaTaller2Bandejas.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
        }

        .item2 {
            background-image: url(/assets/Vipal.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
        }

        .item3 {
            background-color: white;
            color: black;
            text-align: center;
            text-decoration: none;
        }
    }
}

footer {
    background: linear-gradient(90deg, #757272 0%, rgba(51, 51, 51, 1) 100%);
    height: 8rem;
    text-align: center;
}

.navegacion {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 2rem;
    font-size: 1.5rem;
    margin: 0;
    text-decoration: underline white;
    align-items: center;
}

.navegacion li a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: #3b3b3b;
    margin: 5% 25% 25% 5%;
    /*top right bottom left*/
    height: 90%;
    border: 0.25rem solid #757272;
}

.logo {
    height: 5rem;
}